<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<Configuration>
  <ControlEncodingContexts>
    <ControlEncodingContext FullClassName="System.Web.UI.WebControls.Label" PropertyName="Text" EncodingContext="Html" />
    <ControlEncodingContext FullClassName="System.Web.UI.WebControls.Panel" PropertyName="GroupingText" EncodingContext="Html" />
    <ControlEncodingContext FullClassName="System.Web.UI.Page" PropertyName="Title" EncodingContext="Html" />
    <ControlEncodingContext FullClassName="System.Web.UI.WebControls.DataGrid" PropertyName="Caption" EncodingContext="Html" />
    <ControlEncodingContext FullClassName="System.Web.UI.WebControls.GridView" PropertyName="Caption" EncodingContext="Html" />
    <ControlEncodingContext FullClassName="System.Web.UI.WebControls.GridView" PropertyName="EmptyDataText" EncodingContext="Html" />
    <ControlEncodingContext FullClassName="System.Web.UI.WebControls.DataList" PropertyName="Caption" EncodingContext="Html" />
    <ControlEncodingContext FullClassName="System.Web.UI.HtmlControls.HtmlAnchor" PropertyName="HRef" EncodingContext="Url" />
    <ControlEncodingContext FullClassName="System.Web.UI.WebControls.CheckBox" PropertyName="Text" EncodingContext="Html" />
    <ControlEncodingContext FullClassName="System.Web.UI.WebControls.LinkButton" PropertyName="Text" EncodingContext="Html" />
    <ControlEncodingContext FullClassName="System.Web.UI.WebControls.HyperLink" PropertyName="Text" EncodingContext="Html" />
    <ControlEncodingContext FullClassName="System.Web.UI.WebControls.RadioButton" PropertyName="Text" EncodingContext="Html" />
  </ControlEncodingContexts>
  <DoubleEncodingFilter Enabled="True" />
  <EncodeDerivedControls Enabled="True" />
  <MarkAntiXssOutput Enabled="True" Color="Blue" />
</Configuration>