<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <configSections>
    <section name="sreSettings"  type="Microsoft.Security.Application.SecurityRuntimeEngine.SecurityRuntimeSettings, Microsoft.Security.Application.SecurityRuntimeEngine" />
  </configSections>

  <sreSettings plugInDirectory=".">
    <excludedPaths>
      <add path="/Unprotected/CreditCardFiltering.aspx" />
    </excludedPaths>
  </sreSettings>
  

  <system.web>
    <compilation debug="true" targetFramework="4.0" />

    <authentication mode="None">
    </authentication>

    <httpModules>
      <add name="SecurityRuntimeEngine" type="Microsoft.Security.Application.SecurityRuntimeEngine.SecurityRuntimeEngine, Microsoft.Security.Application.SecurityRuntimeEngine"/>
    </httpModules>

    <httpRuntime requestValidationMode="2.0"/>
    
  </system.web>

  <system.webServer>
    <validation validateIntegratedModeConfiguration="true"/>
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="SecurityRuntimeEngine" />
      <add name="SecurityRuntimeEngine" preCondition="managedHandler" type="Microsoft.Security.Application.SecurityRuntimeEngine.SecurityRuntimeEngine, Microsoft.Security.Application.SecurityRuntimeEngine"/>
    </modules>

  </system.webServer>
</configuration>
