<?xml version="1.0"?>
<configuration>
	<system.web>
		<compilation debug="true">
		</compilation>
		<!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
		<authentication mode="Forms">
			<forms loginUrl="login.aspx" protection="All" name=".ASPXAUTH" path="/" requireSSL="false" slidingExpiration="true" defaultUrl="default.aspx">
				<credentials passwordFormat="Clear">
					<user name="johndoe" password="password"/>
				</credentials>
			</forms>
		</authentication>
		<sessionState mode="Off"/>
		<authorization>
			<deny users="?"/>
		</authorization>
    <pages validateRequest="false"></pages>
    <httpModules>
      <add name="AntiXssModule" type="Microsoft.Security.Application.SecurityRuntimeEngine.AntiXssModule"/>
    </httpModules>
	</system.web>
  <location path ="images">
    <system.web>
    <authorization>
      <allow users="*"/>
    </authorization>
    </system.web>
  </location>
</configuration>
